.category{
  display: inline-block;

  &.selected{
    border: 5px solid #BF8A64;
  }
  .categories{
    display: none;
  }
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 20px;
  border-radius: 10px;
  line-height: 23px;
  cursor: pointer;


  &:hover{
    opacity: 0.8;
  }

  h3{
    color: #FFF;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 1000px) {
    width: calc(100% - 40px);
    margin: 20px;
    box-sizing: border-box;
  }
}
