<h1>Lean and green</h1>
<p>Choose a lean category and a green category to get a random recipe!</p>
<div class="controls">
  <div (click)="viewingCategories = true" [className]="'control ' + (!viewingCategories ? '' : 'selected')">By Category</div>
  <div (click)="viewingCategories = false" [className]="'control ' + (viewingCategories ? '' : 'selected')">By Food</div>
</div>
<div class="categories" *ngIf="viewingCategories">
  <div class="option">

    <div class="selections">
      <app-lean-category [options]="leanOptionsByCategory('Lean')" category="Lean"></app-lean-category>
      <app-lean-category [options]="leanOptionsByCategory('Leaner')" category="Leaner"></app-lean-category>
      <app-lean-category [options]="leanOptionsByCategory('Leanest')" category="Leanest"></app-lean-category>
    </div>
  </div>
  <div style="font-size: 100px; text-align: center" class="plus">
    +
  </div>
  <div class="option">

    <div class="selections">
      <app-green-category [options]="greenOptionsByCategory('Higher Carbohydrate')"
                          category="Higher Carbohydrate"></app-green-category>
      <app-green-category [options]="greenOptionsByCategory('Moderate Carbohydrate')"
                          category="Moderate Carbohydrate"></app-green-category>
      <app-green-category [options]="greenOptionsByCategory('Lower Carbohydrate')"
                          category="Lower Carbohydrate"></app-green-category>
    </div>
  </div>
</div>

<div class="individual" *ngIf="!viewingCategories">
  <div class="types">
    <div class="type" *ngFor="let type of objectKeys(leanGroups)">
      <h3>{{type}}</h3>
      <app-lean-food *ngFor="let food of leanGroups[type]" [food]="food"></app-lean-food>
    </div>
  </div>

  <div style="font-size: 100px; text-align: center" class="plus">
    +
  </div>
  <div class="types">
    <div class="type">
      <h3>Lower Carbohydrate</h3>
      <app-green-food *ngFor="let food of greenOptionsByCategory('Lower Carbohydrate')" [food]="food"></app-green-food>
    </div>
    <div class="type">
      <h3>Moderate Carbohydrate</h3>
      <app-green-food *ngFor="let food of greenOptionsByCategory('Moderate Carbohydrate')" [food]="food"></app-green-food>
    </div>
    <div class="type">
      <h3>Higher Carbohydrate</h3>
      <app-green-food *ngFor="let food of greenOptionsByCategory('Higher Carbohydrate')" [food]="food"></app-green-food>
    </div>
  </div>
</div>

<div class="selection" *ngIf="selectedGreen && selectedLean">
  <app-lean-food *ngIf="selectedLean" [food]="selectedLean"></app-lean-food><br> + <br><app-green-food *ngIf="selectedGreen" [food]="selectedGreen"></app-green-food>

  <i class="far fa-window-close" (click)="close()"></i>
  <br>
  <a class="get-recipes" >Get Recipes!</a>
</div>

